#app {
  width: 100%;
  height:100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* 防止滚动条 */
}
body {
  position: relative;
}
*{
  margin: 0;
  padding: 0;
}

html {
  zoom: 100%;
  -webkit-text-size-adjust: 100%;
}
